{% extends "sancom_free/common.html" %}
{% load static %}

{% block body %}
    <form name="shadow" method="post">
    {% csrf_token %}
    <h5 id="sentence1" class="">{{japanese|safe}}</h5>
    <h5 id="sentence2" class="">{{chinese|safe}}</h5>　<!--修正-->

    <div class="space2">
    <label class="space2">ここへ単語のコピペ⇒</label><input id="word" type="text" size="10" name="word"><input class="btn btn-primary my-2, space2" type="submit" value="ネット辞書アクセス" name="scraping" class="btn btn-primary my-2"> 
    <h6 class="space2">{{word|safe}}　　{{pronWeblio|safe}}</h6>
    <h6 class="space2">{{meaningWeblio|safe}}</h6>
    {% if error %}
    <h6 class="space2">{{ error }}</h6>
    {% endif %}
    </div>
    <div class="selection">
    <h5 class="">発声訓練</h5>
    </div>
    <audio id="bgm1" ><source src="{% static csound %}" ></audio> <!--修正-->
    <div class="space4">
    <!--<button class="" id="btn-play3" type="button">リピート再生</button><button class="space1" id="btn-play4" type="button">終了</button><button class="space4" id="btn-play5" type="button">文字表示</button><button class="space1" id="btn-play6" type="button">非表示</button>-->
    <input class="" id="btn-play3" type="button" value="リピート再生" onclick="startPlay()" ><input class="space1" id="btn-play4" type="button" value="終了" onclick="stopPlay()" ><button class="space4" id="btn-play5" type="button">文字表示</button><button class="space1" id="btn-play6" type="button">非表示</button>
    </div>
    <div class="space4">
    <select class="" name="speed1" onchange="speedSet1()">
        <option  value="">再生速度120%</option>
        <option  value="">再生速度100%</option>
        <option  value="">再生速度80%</option>
        <option  value="">再生速度60%</option>
    </select>
    <select class="space2" name="pause" onchange="pauseSet()">
        <option  value="">再生間隔 1秒</option>
        <option  value="">再生間隔 3秒</option>
        <option  value="">再生間隔 5秒</option>
        <option  value="">再生間隔 7秒</option>
        <option  value="">再生間隔 9秒</option>
    </select>
    </div>
    <div class="space2" >
        <p class="space2" >ステップ１：中文を見ながらシャドーイング </p>
        <p class="space2" >ステップ２：中文を消してシャドーイング</p>
        <p class="space2" >ステップ３：中文を消して復唱　(言い終わってから発声)</p>
        <p class="space2" >ステップ４：速さ/発音/抑揚を完全模写できたら⇒<a class="space1" href="">暗唱訓練(準備中)</a></p>
        <p class="space2" >※文章が長くてやりにくい⇒<a class="btn btn-primary my-2, space1" href="{% url 'csplite' %}?item={{item}}&category={{category}}&japanese={{japanese}}&english={{english}}&esound={{esound}}&chinese={{chinese}}&csound={{csound}}">音声分割練習</a></p>
    </div>
    <a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'sancomcontents' %}?item={{item}}&category={{category}}&japanese={{japanese}}&english={{english}}&esound={{esound}}&chinese={{chinese}}&csound={{csound}}">元に戻る</a>
    </form>
    
    <script>
        let tmr = 1000;
        var in_play = false;        
        var bgm1 = document.querySelector("#bgm1");
        //var btn3  = document.querySelector("#btn-play3");   // リピート再生用
        //var btn4  = document.querySelector("#btn-play4");   // リピート再生用

        function playAudio() {
            if(!in_play) return;
            bgm1.play();
        }

        function startPlay(){
            in_play = true;
            playAudio();
        }

        function stopPlay(){
            in_play = false;
            bgm1.pause();
        }

        function audioEnded(){
            if (in_play) setTimeout(playAudio, tmr);
        }

        bgm1.addEventListener("ended", audioEnded, false);

        const btn5  = document.querySelector("#btn-play5");
        const btn6  = document.querySelector("#btn-play6");
        let letters1 = document.getElementById('sentence1');
        let letters2 = document.getElementById('sentence2');

        letters1.style.color = '#BB00FF';
        letters2.style.color = '#BB00FF';

        function speedSet1(){
            for ( i=0; i<4; i++ ){
              switch (document.shadow.speed1.selectedIndex){
                case 0: bgm1.playbackRate=1.2;break;
                case 1: bgm1.playbackRate=1.0;break;
                case 2: bgm1.playbackRate=0.8;break;
                case 3: bgm1.playbackRate=0.6;break;
              }
            }
        }

        function pauseSet(){
            for ( i=0; i<4; i++ ){
              switch (document.shadow.pause.selectedIndex){
                case 0: tmr=1000;break;
                case 1: tmr=3000;break;
                case 2: tmr=5000;break;
                case 3: tmr=7000;break;
                case 4: tmr=9000;break;
              }
            }
        }

        btn5.addEventListener("click", ()=>{
            letters2.style.color = '#FF0000';
        });
        btn6.addEventListener("click", ()=>{
            letters2.style.color = '#FFFFFF';
        });        
    </script>

{% endblock body %}