{% extends "sancom_free/common.html" %}
{% load static %}

{% block body %}
    <!--<h4 class="display-5 text-primry ">{{title}}</h4>-->
    <form name="shadow" action="{% url 'publiccontents' %}" method="post">
        {% csrf_token %}
        <h6 class="table">公開コンテンツをクリックして選択ボタンを押してください。</h6>
    <div class="selection">
        <div class="space1">
                {{ form1 }}
                {% if error %}
                {{ error }}
                {% endif %}
        </div>
        <div class="space2">
            <input class="btn btn-primary my-2" type="submit" name="start" value="選択">
        </div>
        <div class="space3">
            <h6>{{item}}</h6>
            <h6>{{category}}</h6>
        </div>
    </div>
    <div class="space4">
        <label class="">単語のコピペ　⇒　</label><input id="word" type="text" size="10" name="word"><input class="btn btn-primary my-2, space2" type="submit" value="ネット辞書アクセス" name="scraping" class="btn btn-primary my-2"> 
        <h6 class="">{{word|safe}}　　{{pronWeblio|safe}}</h6>
        <h6 class="">{{meaningWeblio|safe}}</h6>
        {% if error %}
        <h6 class="">{{ error }}</h6>
        {% endif %}
    </div>    
    <div class="box">
        <p id="label1" class="">{{english}}</p>
    </div>
    <div class="">
    <audio class="pad" id="bgm2" controls ><source src="{% static esound %}" ></audio>
    </div>
    <div class="space4">
            <label>(1) 分割を開始したい位置で再生停止⇒</label>
            <label><button id="btn-play1" type="button">ここを押して位置読込</button> </label><br>
            <label class="space4">開始位置<input id="start_position" type="text" size="7" name="start_position" value="{{start}}">　総長<input id="duration" type="text" size="7" name="duration" value="{{length}}"></label><br>
            <label>(2) 分割を終了したい位置で再生停止⇒</label>
            <label><button id="btn-play2" type="button">ここを押して位置読込</button> </label><br>
            <label class="space4">終了位置<input id="end_position" type="text" size="7" name="end_position" value="{{end}}"></label>
            <br><label>(3) <input type="submit" value="分割ファイル作成" name="split" class="btn btn-primary my-2"> </label>
            <label class="space1">{{finish_comment}}</label>       
    </div>  
    <div class="space4">
 
        <audio id="bgm3" ><source src="{% static sound_splited %}" ></audio>
        <input class="" id="btn-play3" type="button" value="リピート再生" onclick="startPlay()" ><input class="space1" id="btn-play4" type="button" value="終了" onclick="stopPlay()" >
        <!--<button class="space4" id="btn-play5" type="button">文字表示</button><button class="space1" id="btn-play6" type="button">非表示</button>-->
        <select class="space2" name="speed1" onchange="speedSet1()">
            <option  value="">再生速度120%</option>
            <option  value="">再生速度100%</option>
            <option  value="">再生速度80%</option>
            <option  value="">再生速度60%</option>
        </select>
        <select class="space2" name="pause" onchange="pauseSet()">
            <option  value="">再生間隔 1秒</option>
            <option  value="">再生間隔 3秒</option>
            <option  value="">再生間隔 5秒</option>
            <option  value="">再生間隔 7秒</option>
            <option  value="">再生間隔 9秒</option>
        </select>
    </div>
    <br>
    <a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'top' %}?item={{item}}&category={{category}}&japanese={{japanese}}&english={{english}}&esound={{esound}}&chinese={{chinese}}&csound={{csound}}">メインページへ</a>
    </form>     

    <script>
        let tmr = 1000;
        var in_play = false;        

        var bgm2 = document.querySelector("#bgm2");       // 読み込んだ音声ファイル  
        const btn1  = document.querySelector("#btn-play1");   // 音声分割位置指示
        const btn2  = document.querySelector("#btn-play2");   // 音声分割位置指示
        const duration = document.querySelector("#duration"); //音声分割開始位置<imput>
        const start = document.querySelector("#start_position"); //ファイル総長<imput>
        const end = document.querySelector("#end_position"); //音声分割終了位置<imput> 

        var bgm3 = document.querySelector("#bgm3");       // 分割ファイル
        //const btn3  = document.querySelector("#btn-play3");   // 分割ファイル リピート再生
        //const btn4  = document.querySelector("#btn-play4");   // 分割ファイル リピート再生終了            
        const btn5  = document.querySelector("#btn-play5");   // テキスト表示
        const btn6  = document.querySelector("#btn-play6");   // テキスト非表示

        let letter1 = document.getElementById('label1');　　//英文テキスト
        letter1.style.color = '#BB00FF';

        btn1.addEventListener("click", ()=>{     //分割開始位置読み込み
            if( bgm2.paused ){
                bgm2.pause();
                document.getElementById( "duration" ).value = bgm2.duration ;
                document.getElementById( "start_position" ).value = bgm2.currentTime ;
                console.log( bgm2.currentTime);
            }
            else{
                bgm2.pause();
            }
        });

        btn2.addEventListener("click", ()=>{       //分割終了位置読み込み
            if( bgm2.paused ){
                bgm2.pause();
                document.getElementById( "end_position" ).value = bgm2.currentTime ;
                console.log( bgm2.currentTime);
            }
            else{
                bgm2.pause();
            }
        });


        function playAudio() {　　　　//setTimeoutの制御
            if(!in_play) return;
            bgm3.play();
        }

        function startPlay(){　　　//setTimeoutの制御
            in_play = true;
            playAudio();
        }

        function stopPlay(){　　　　//setTimeoutの制御
            in_play = false;
            bgm3.pause();
        }

        function audioEnded(){　　　//setTimeoutの制御
            if (in_play) setTimeout(playAudio, tmr);
        }

        bgm3.addEventListener("ended", audioEnded, false);　　//setTimeoutの制御

        function speedSet1(){　　　　//分割ファイルの速度選択
            for ( i=0; i<4; i++ ){
              switch (document.shadow.speed1.selectedIndex){
                case 0: bgm3.playbackRate=1.2;break;
                case 1: bgm3.playbackRate=1.0;break;
                case 2: bgm3.playbackRate=0.8;break;
                case 3: bgm3.playbackRate=0.6;break;
              }
            }
        }

        function pauseSet(){        //分割ファイルのリピート再生間隔
            for ( i=0; i<5; i++ ){
              switch (document.shadow.pause.selectedIndex){
                case 0: tmr=1000;break;
                case 1: tmr=3000;break;
                case 2: tmr=5000;break;
                case 3: tmr=7000;break;
                case 4: tmr=9000;break;
              }
            }
        }

        btn5.addEventListener("click", ()=>{     
            letter1.style.color = '#BB00FF';   //文字色をパープル
        });
        btn6.addEventListener("click", ()=>{    //文字色を白
            letter1.style.color = '#FFFFFF';
        });        


</script>

{% endblock body %}
