{% extends "sancom_free/common.html" %}
{% load static %}

{% block body %}
    <h4 class="display-5 text-primry ">{{title}}</h4>
    <br>
    <form action="{% url 'sancomcontents' %}" method="post">
        {% csrf_token %}
        <h6 class="table">文例を選択し選択ボタンを押してください。</h6>
    <div class="selection">
        <div class="space1">
                {{ form1 }}
                {% if error %}
                {{ error }}
                {% endif %}
        </div>
        <div class="space2">
            <input class="btn btn-primary my-2" type="submit" name="start" value="選択">
        </div>
        <div class="space3">
            <h6>{{item}}</h6>
            <h6>{{category}}</h6>
        </div>
    </div>
    <br>    
    <div>
    <h5 id="label1">{{japanese}}</h5>
    </div>
    <div class="target">
        <div class="pad">
            <h5 id="label2" class="">{{english}}</h5>
            <audio id="bgm1" ><source src="{% static esound %}" ></audio>
            <button id="btn-play1" type="button">音声</button><a class="left_m1" href="{% url 'eshadow' %}?item={{item}}&category={{category}}&japanese={{japanese}}&english={{english}}&esound={{esound}}&chinese={{chinese}}&csound={{csound}}" class="">発声訓練</a>
        </div>
        <div class="pad">
            <h5 id="label3" class="">{{chinese}}</h5>
            <audio id="bgm2" ><source src="{% static csound %}" ></audio>
            <button id="btn-play2" type="button">音声</button><a class="left_m1" href="{% url 'cshadow' %}?item={{item}}&category={{category}}&japanese={{japanese}}&english={{english}}&esound={{esound}}&chinese={{chinese}}&csound={{csound}}" class="">発声訓練</a>
        </div>
    </div>
    <br>
    <a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'top' %}?item={{item}}&category={{category}}&japanese={{japanese}}&english={{english}}&esound={{esound}}&chinese={{chinese}}&csound={{csound}}">メインページへ</a>
    </form>     

  <script>
        const bgm1 = document.querySelector("#bgm1");
        const bgm2 = document.querySelector("#bgm2");
        const btn1  = document.querySelector("#btn-play1");
        const btn2  = document.querySelector("#btn-play2");

        let letter1 = document.getElementById('label1');
        let letter2 = document.getElementById('label2');
        let letter3 = document.getElementById('label3');
        letter1.style.color = '#BB00FF';
        letter2.style.color = '#BB00FF';
        letter3.style.color = '#BB00FF';

        btn1.addEventListener("click", ()=>{
            bgm1.play();
        });

        btn2.addEventListener("click", ()=>{
            bgm2.play();
        });
  </script>

{% endblock body %}
