.form-text {
    display: none;
}

.borderless td, .borderless th {
    border: none;
}

.selection {
    display: flex;
    /*justify-content: space-between;*/
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.space1 {
    margin-left: 10px;
    margin-top: 5px;
}

.space2 {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.space3 {
    margin-left: 30px;
    margin-top: 3px;
}

.space4 {
    margin-left: 40px;
    margin-top: 3px;
}

.space20 {
    width: 200px;
}

.target {
    margin-left: 10px;
}

.box {
    margin-left: 10px;
    width: 550px;
    height: 170px;
    /*background:#ced;*/
    border:1px solid #a7e;
    overflow: scroll;
}

.pad {
    padding: 5px;
    margin-top: 10px;
}

.left_m1 {
    margin-left: 20px;
}






